@import "../../SCSS/_variables";

.form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $moduleColor;
  width: clamp(5vw, 50%, 15vw);
  padding: 20px;
  gap: 10px;
  border-radius: 15px;
}
.button{
  background-color: $ItemColor;
  width: calc(30% - 10px);
  height: 2rem;
  border-radius: 5px;
}
.nameForm {
  border-radius: 10px;
  width: calc(20% - 20px);
  background-color: $ItemColor;
}
