@import '../../../SCSS/variables';
@import '../../../SCSS/mixins';

$menu-width: 500px;

.auth_menu {
	@include flex-center;
	transition: height 250ms;
	align-items: start;
	border-radius: 15px;

	width: $menu-width;
	padding-top: 50px;
	padding-bottom: 10px;
	background-color: $moduleColor;
	animation: appearance 350ms linear 1;
}

.input {
	font-size: clamp(18px, 6vw, 25px);
	transition: box-shadow 200ms;
	background-color: transparent;
	width: 100%;
	height: 75px;
	border-radius: 15px;
	border: 1px solid $ItemColor;
}
.input:focus-visible{
    outline: none;
    box-shadow: 0px 0px 5px $fontColor;
}

.invalid_value {
	outline: 1px solid $errorColor !important;
	outline-offset: 0 !important;
}

.input.invalid_value:focus-visible {
	outline: 1px solid $errorColor !important;
	outline-offset: 0 !important;
	box-shadow: none;
}


.label{
	font-size: clamp(18px,6vw,25px);
	transition: 250ms;
	background-color: $moduleColor;
	color:$fontColor;
	border-radius: 10px;
	position: absolute;
	left:15px;
	pointer-events: none
}

.label.onFocus{
	font-size: 19px;
	transform: translateY(calc(75/2 * -1px));
}

.relative_container {
	@include flex-column-center;
	position: relative;
	margin-top: 25px;
	width: 100%;
}

.logotype {
	font-size: 50px;
}

.form_container {
	width: 100%;
	padding: 0px 50px;
}

.submit_container {
	@include flex-column-center;
	margin-top: 50px;
	gap: 10px;
}

.submit_button {
	background-color: $ItemColor;
	border-radius: 15px;
	font-size: clamp(20px, 7vw, 30px);
	width: 175px;
	height: 75px;
	transition: opacity 200ms;
}
.submit_button:hover {
	background-color: $ItemColor;
	opacity: 0.7;
}

.footer_text {
	font-size: 15px;
	color: $fontColor;
}

.toggle {
	display: inline-block;
	transition: transform 550ms;
	cursor: pointer;
	border-bottom: 1px solid $ItemColor;
}

.toggle:hover {
	transform: translateY(-5px);
}

@keyframes appearance {
	from{
		opacity: 0;
		transform: translateY(-50px);
	}to{
		opacity: 1;
		transform: translateY(0);
	}
}