@mixin flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin flex-column-center{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin grid-template-center($repeat:2,$columnSize:1fr,$autoRow:1fr){
    display: grid;
    grid-template-columns: repeat($repeat,$columnSize);
    grid-auto-rows:$autoRow;
    justify-content: center;
    align-content: center;
}